<div class="bg-[url('<%= asset_path('fleurs1.jpg') %>')]">
</div>

<div style="background-image: url('<%= asset_path('fleurs1.jpg') %>');">
  <h2>salut</h2>
</div>
<div class="container mx-auto p-8 border-2 border-blue-800">
  <h1 class="text-2xl font-bold">Bienvenue sur mon site</h1>
  <p class="text-gray-700">Ceci est un exemple de projet utilisant Tailwind CSS, Ruby on Rails, et HTML.</p>
</div>


<div class="bg-cover bg-center border-2 border-red-500">
  <img src="<%= asset_path('fleurs1.jpg') %>" alt="img">
  <h1>coucou</h1>
</div>



<!-- CONTACT -->
<div class="w-full h-screen bg-cover bg-gradient-to-r from-purple-100 to-pink-600">
  <div class="pt-60">
    <div class="max-w-screen-xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
      <div class="md:flex">
        <div class="md:flex-shrink-0">
          <img class="h-48 w-full object-cover md:w-48" src="<%= asset_path('vitrine.png') %>" alt="Store Image">
        </div>
        <div class="p-8">
          <p class="block mt-1 text-sm text-pink-500 font-bold">Lilly Rose</p>
          <p class="mt-2 text-gray-500">4 Rue Castelnau Espace Tiberghien, 59126 Linselles</p>
        </div>
      </div>
    </div>
  </div>


    <div class="w-full pt-40 px-20 border-2 border-black ">
      <div class="w-full h-60 p-10 bg-zinc-100 border-1 shadow-md rounded-3xl">
        <div class="w-50 h-50">
          <img src="<%= asset_path('vitrine.png') %>" alt="" >
        </div>
        <div>
          <h1>Lilly Rose</h1>
          <p>4 Rue Castelnau Espace Tiberghien, 59126 Linselles</p>
          <i class="fa-regular fa-copy text-pink-500"></i>
        </div>
      </div>
    </div>
  </div>
