<!-- flex justify-center items-center border-2 border-none  -->
<div class="w-full bg-pink-500 z-49">
  <div class="flex mx-auto px-5 py-2 gap-4">
    <div class="justify-start items-center content-center">
      <p class="font-meow-script text-xl font-normal text-white">© 2025 Lilly Rose</p>
    </div>
    <div class="grow">
    </div>
    <!-- AFFICHAGE DESKTOP affichée quand la résolution est supérieure à la valeur de custombp (Tailwind.config.js) -->
    <div class="justify-end">
      <div class="custombp:hidden block text-white space-x-4">
        <a href="<%= ENV['URL_FACEBOOK'].to_s + ENV['USER_FACEBOOK'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="<%= ENV['URL_INSTAGRAM'].to_s + ENV['USER_INSTAGRAM'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="<%= ENV['URL_TIKTOK'].to_s + ENV['USER_TIKTOK'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="<%= ENV['URL_PINTEREST'].to_s + ENV['USER_PINTEREST'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-pinterest"></i>
        </a>
        <a href="<%= ENV['URL_X_TWITTER'].to_s + ENV['USER_X_TWITTER'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
      <!-- AFFICHAGE MOBILE affichée quand la résolution est inférieure à la valeur de custombp (Tailwind.config.js) -->
      <div class="custombp:block hidden min-w-max text-white space-x-4">
        <a href="<%= ENV['APP_FACEBOOK'].to_s + ENV['USER_FACEBOOK'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="<%= ENV['APP_INSTAGRAM'].to_s + ENV['USER_INSTAGRAM'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="<%= ENV['APP_TIKTOK'].to_s + ENV['USER_TIKTOK'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="<%= ENV['APP_PINTEREST'].to_s + ENV['USER_PINTEREST'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-pinterest"></i>
        </a>
        <a href="<%= ENV['APP_X_TWITTER'].to_s + ENV['USER_X_TWITTER'].to_s %>" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Back to Top Button -->
<div id="backToTop" class="fixed bottom-10 right-5 w-10 h-10 bg-pink-200 bg-opacity-50 text-pink-500 rounded-full flex items-center justify-center cursor-pointer hidden">
  <i class="fa-solid fa-chevron-up text-2xl"></i>
</div>
